body {
  background: url(../img/background.jpg) no-repeat fixed center top ;
}
.header {
  color: #0000ff;
}
#note {
  color: yellow;
  font-style: italic;
  float:right;
  font-size: medium;
  padding-left: 50px;
}
.form-group {
  padding: 20px;
  font-size: 20px;
  background-color: transparent;
}
.form-group.panel {
  float: left;
  width: 50%;
}
#result {
  display: none;
  color: #ffcc00;
}
#classDescriptions {
  color:white;
}
.carousel-indicators {
  bottom: -30px;
}
